:root {
  /* Colors */
  --white: #ffffff;
  --black: #111111;
  --grey: #2c2c2c;
  --grey-light: #e5e6e8;
  --red: #d00c10;
}

#header {
  background-color: var(--black);
}
@media (992px <= width) {
  #header {
    padding: 16px 0 !important;
    font-size: 0.875rem;
  }
  #header .nav-link {
    padding: 0 12px !important;
  }
}

.banner {
  position: relative;
  background-image: url("../public/bg-network-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  overflow: hidden;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 75% 0%, #707fb8 0%, rgba(22, 26, 38, 0) 100%);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.banner .container {
  padding: 32px 16px 16px;
}
.banner__herotext {
  position: relative;
  z-index: 1;
}
.banner__herotext h1 {
  margin-bottom: 16px;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}
.banner__herotext h1 span {
  margin-top: 8px;
  display: block;
  font-size: 1.5rem;
}
.banner__herotext ul {
  font-size: 0.875rem;
}
.banner__herotext .herotext__apps {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.banner__herotext .herotext__apps a {
  display: block;
}
.banner__herotext .herotext__apps a img {
  border: 1px solid var(--grey);
  border-radius: 4px;
}
.banner__heroimages {
  position: relative;
  margin: auto;
  width: 100%;
  height: 380px;
  max-width: 680px;
}
.banner__heroimages img {
  position: absolute;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  top: 65%;
  transform: translateY(-35%);
  min-height: 350px;
}
.banner__heroimages img:not(.heroimages__3) {
  width: 50%;
  max-width: 150px;
  height: 75%;
}
.banner__heroimages img.heroimages__1 {
  left: 0;
  z-index: 1;
  transform: translateY(-35%) skew(0deg, 15deg);
}
.banner__heroimages img.heroimages__2 {
  left: 12.5%;
  z-index: 2;
  transform: translateY(-35%) skew(0deg, 15deg);
}
.banner__heroimages img.heroimages__3 {
  width: 100%;
  min-width: 360px;
  max-width: 400px;
  height: 100%;
  min-height: 440px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%) translateY(-35%);
}
.banner__heroimages img.heroimages__4 {
  right: 12.5%;
  z-index: 2;
  transform: translateY(-35%) skew(0deg, -15deg);
}
.banner__heroimages img.heroimages__5 {
  right: 0;
  z-index: 1;
  transform: translateY(-35%) skew(0deg, -15deg);
}

@media (768px <= width) {
  .banner__herotext h1 {
    font-size: 3rem;
    text-align: left;
  }
  .banner__herotext h1 span {
    font-size: 2rem;
  }
  .banner__herotext ul {
    font-size: 1rem;
  }
  .banner__herotext .herotext__apps {
    display: flex;
    justify-content: left;
  }
  .banner__herotext .herotext__apps a img {
    width: 160px;
  }
}
@media (992px <= width) {
  .banner .container {
    display: flex;
    justify-content: space-between;
  }
  .banner__herotext {
    flex-grow: 1;
  }
  .banner__heroimages {
    width: 50%;
    max-width: 680px;
    height: 260px;
  }
}
#form {
  padding: 64px 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 12px;
}
#form select, #form input[type=text], #form input[type=email], #form input[type=tel] {
  padding: 8px 16px;
  border-radius: 0;
  height: 44px;
  max-height: 44px;
  font-size: 0.875rem;
  color: var(--grey);
}
#form select::-moz-placeholder, #form input[type=text]::-moz-placeholder, #form input[type=email]::-moz-placeholder, #form input[type=tel]::-moz-placeholder {
  color: var(--grey);
}
#form select::placeholder, #form input[type=text]::placeholder, #form input[type=email]::placeholder, #form input[type=tel]::placeholder {
  color: var(--grey);
}
#form label[for=terms] {
  font-size: 0.75rem;
  line-height: 1.2em;
  color: var(--grey);
}
#form .text-error {
  font-size: 0.75rem;
  line-height: 1.2em;
  color: var(--bs-danger);
}
@media (992px <= width) {
  #form {
    grid-template-columns: repeat(4, 1fr);
  }
  #form div:last-child {
    grid-column: 4/5;
    grid-row: 1/3;
  }
}

.value {
  background-color: var(--grey-light);
  text-align: center;
}
.value .container {
  padding: 64px 16px;
}
.value .container h2 {
  margin-bottom: 32px;
  color: var(--black);
  font-weight: 600;
}
.value .container .value__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.value .container .value__content .content__bullet {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 160px;
}
.value .container .value__content .content__bullet p {
  margin: 0;
}
.value .container .value__content .content__main {
  margin: auto;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.5));
}
@media (768px <= width) {
  .value .container .value__content {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .value .container .value__content .content__left, .value .container .value__content .content__right {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
  }
  .value .container .value__content .content__main {
    margin: auto;
    flex: 1 0 100%;
    max-width: 380px;
  }
}
@media (992px <= width) {
  .value .container .value__content {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .value .container .value__content .content__left {
    order: 1;
    flex-basis: 25%;
  }
  .value .container .value__content .content__left .content__bullet {
    margin-right: 0;
    align-items: flex-end;
    text-align: right;
  }
  .value .container .value__content .content__right {
    order: 3;
    flex-basis: 25%;
  }
  .value .container .value__content .content__right .content__bullet {
    margin-left: 0;
    align-items: flex-start;
    text-align: left;
  }
  .value .container .value__content .content__main {
    order: 2;
    flex-basis: 50%;
  }
}

.about {
  position: relative;
  background: #232845;
  color: var(--white);
}
.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 0%, #5d699b 0%, rgba(93, 105, 155, 0.1450980392) 25%, rgba(93, 105, 155, 0) 50%);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.about .container {
  padding: 64px 16px 0;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.about .container img {
  flex-shrink: 0;
  margin: 0 auto;
  width: 100%;
  max-width: -moz-max-content;
  max-width: max-content;
  height: auto;
  max-height: 300px;
}
@media (992px <= width) {
  .about .container {
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 32px;
  }
  .about .container img {
    width: 50%;
    max-height: none;
  }
}

/* BASE */
body {
  font-family: Arial, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5em;
}
body .text-red {
  color: var(--red);
}
body .btn-danger {
  background-color: var(--red);
  border-color: var(--red);
  border-radius: 0;
}
body p {
  margin: 0;
}/*# sourceMappingURL=styles.css.map */