.about {
    position: relative;
    background: #232845;
    color: var(--white);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at 50% 0%, #5d699b 0%, #5d699b25 25%, #5d699b00 50%);
        pointer-events: none;
        user-select: none;
    }
    .container {
        padding: 64px 16px 0;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 48px;
        
        img {
            flex-shrink: 0;
            margin: 0 auto;
            width: 100%;
            max-width: max-content;
            height: auto;
            max-height: 300px;
        }
    }

    @media (992px <= width) {
        .container {
            flex-direction: row-reverse;
            align-items: flex-end;
            gap: 32px;

            img {
                width: 50%;
                max-height: none;
            }
        }
    }
}