.banner {
    position: relative;
    background-image: url('https://raw.githubusercontent.com/leandro-cordero/HTA-assessment/refs/heads/master/public/bg-network-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at 75% 0%, #707fb8 0%, #161a2600 100%);
        pointer-events: none;
        user-select: none;
    }
    
    .container {
        padding: 32px 16px 16px;
    }
    &__herotext {
        position: relative;
        z-index: 1;
        h1 {
            margin-bottom: 16px;
            font-size: 2rem;
            font-weight: 200;
            text-align: center;

            span {
                margin-top: 8px;
                display: block;
                font-size: 1.5rem;
            }
        }
        ul {
            font-size: 0.875rem;
        }
        .herotext__apps {
            display: flex;
            justify-content: center;
            gap: 16px;

            a {
                display: block;

                img {
                    border: 1px solid var(--grey);
                    border-radius: 4px;
                }
            }
        }
    }
    &__heroimages {
        position: relative;
        margin: auto;
        width: 100%;
        height: 380px;
        max-width: 680px;

        img {
            position: absolute;
            filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
            top: 65%;
            transform: translateY(-35%);
            min-height: 350px;
            
            &:not(.heroimages__3) {
                width: 50%;
                max-width: 150px;
                height: 75%;
            }
            &.heroimages__1 {
                left: 0;
                z-index: 1;
                transform: translateY(-35%) skew(0deg, 15deg);
            }
            &.heroimages__2 {
                left: 12.5%;
                z-index: 2;
                transform: translateY(-35%) skew(0deg, 15deg);
            }
            &.heroimages__3 {
                width: 100%;
                min-width: 360px;
                max-width: 400px;
                height: 100%;
                min-height: 440px;
                z-index: 3;
                left: 50%;
                transform: translateX(-50%) translateY(-35%);
            }
            &.heroimages__4 {
                right: 12.5%;
                z-index: 2;
                transform: translateY(-35%) skew(0deg, -15deg);
            }
            &.heroimages__5 {
                right: 0;
                z-index: 1;
                transform: translateY(-35%) skew(0deg, -15deg);
            }
        }
    }
}

@media (768px <= width) {
    .banner {
        &__herotext {
            h1 {
                font-size: 3rem;
                text-align: left;
    
                span {
                    font-size: 2rem;
                }
            }
            ul {
                font-size: 1rem;
            }
            .herotext__apps {
                display: flex;
                justify-content: left;
    
                a {
                    img {
                        width: 160px;
                    }
                }
            }
        }
    }
}
@media (992px <= width) {
    .banner {
        .container {
            display: flex;
            justify-content: space-between;
        }
        &__herotext {
            flex-grow: 1;
        }
        &__heroimages {
            width: 50%;
            max-width: 680px;
            height: 260px;
        }
    }
}